* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #282828;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",sans-serif;
  font-size: 15px;
  color: #282828;
}

a {
  text-decoration: none;
}

.container-size {
  width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}

.container-full {
  width: 100%;
  background: #eaf8fa;
  text-align: center;
  padding: 50px 0 80px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header h1 {
  margin: 0;
  font-size: 35px;
  font-weight: normal;
}

.header nav {
  margin: 0 0 0 auto;
}

.header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  margin-right: 20px;
}

.header nav ul li a:hover {
  opacity: 0.6;
}

.main__visual {
  width: 100%;
}

.main__visual img {
  width: 100%;
}

.main__visual--pc {
  display: block;
}

.main__visual--sp {
  display: none;
}

.main h2 {
  text-align: center;
  padding: 0 0 10px 0;
  letter-spacing: 3px;
}

.main__greeting {
  text-align: center;
}

.main__greeting p {
  line-height: 30px;
  letter-spacing: 1px;
}

.main__news div {
  width: 1024px;
  margin: 0 auto;
}

.main__news ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__news ul li {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 1px #969696;
}

.main__news ul li p {
  display: inline-block;
  margin: 15px 10px;
  padding: 3px;
}

.main__news ul li p.date {
  width: 10%;
}

.main__news ul li p.label {
  width: 20%;
  background: #27386b;
  border-radius: 50px;
  font-size: 13px;
  color: #FFF;
}

.main__news ul li p.link {
  width: 75%;
  text-align: left;
}

.main__news ul li + .bottom {
  border-bottom: solid 1px #969696;
}

.main__island--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__island--list div {
  width: calc(100% / 3 -60px);
  margin: 30px;
  text-align: center;
}

.main__island--list div img {
  width: 300px;
  border-radius: 50%;
}

.main__island--list div h3 {
  margin: 30px 0 10px 0;
  border-bottom: solid 1px #93c6da;
}

.main__island--list div p {
  font-size: 13px;
}

.main__plan--tab {
  width: 1024px;
  margin: 0 auto;
}

.main__plan--tab ul.tab-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__plan--tab ul.tab-group li.tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 20px;
  color: #fff;
  background-color: #bcc0c4;
}

.main__plan--tab ul.tab-group li.tab:hover {
  background-color: #58889c;
  -webkit-transition: all 0.3s 0s  ease;
  transition: all 0.3s 0s  ease;
}

.main__plan--tab ul.tab-group li.tab.tab-active {
  background-color: #58889c;
  -webkit-transition: all 0.3s 0s  ease;
  transition: all 0.3s 0s  ease;
}

.main__plan--tab div.panel-group div.panel {
  width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
  border: solid 3px #58889c;
  background: #FFF;
  display: none;
}

.main__plan--tab div.panel-group div.panel div.panel-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__plan--tab div.panel-group div.panel div.panel-layout img {
  width: 40%;
  margin: 30px;
}

.main__plan--tab div.panel-group div.panel div.panel-layout p {
  display: inline-block;
  width: 60%;
  margin: 0 30px;
  color: #113e63;
  text-align: left;
}

.main__plan--tab div.panel-group div.panel div.panel-layout p span.price {
  display: inline-block;
  margin: 50px 0 0 0;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.main__plan--tab div.panel-group div.panel.panel-active {
  display: block;
}

.main__question div.accordion p.menu {
  display: block;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background: #58889c;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
  border-bottom: solid 5px #f0f0f0;
}

.main__question div.accordion p.menu::after {
  position: absolute;
  content: "";
  top: 40%;
  right: 2%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top: 18px solid #FFF;
}

.main__question div.accordion p.menu:hover, .main__question div.accordion p.menu :active, .main__question div.accordion p.menu .is-active {
  background: #286581;
}

.main__question div.accordion div.contents {
  padding: 0 60px;
  background-color: #f0f0f0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.main__question div.accordion div.contents.is-open {
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

.main__question div.accordion div.contents p {
  margin: 10px 0;
}

.main__question div.accordion div.contents p span {
  position: relative;
  font-weight: bold;
}

.main__question div.accordion div.contents p span::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.3em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 3px solid #9c9c9c;
  border-bottom: 3px solid #9c9c9c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #555555;
}

.footer p {
  color: #FFF;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .main__visual--pc {
    display: none;
  }
  .main__visual--sp {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */